doctype html
html
  block head
    title #{title}
    link(rel='stylesheet', href='/css/app.css', type='text/css', media='screen')
    script(src='/js/app.js', type='text/javascript')
  body
    header
      block header
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      block footer
