<div class="btn-group features-select">
	<span class="btn btn-primary" data-mode="events">
		<span class="glyphicon glyphicon-flash"></span>
	</span>
	<span class="btn btn-primary" data-mode="people">
		<span class="fui-user"></span>
	</span>
	<span class="btn btn-primary" data-mode="places">
		<span class="fui-location"></span>
	</span>
	
</div>

