<div class="timeline">
	<div class="inner">
		<div class="title">{{title}}</div>
		<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
			{{#each dates}}
			<div class="ui-slider-segment"></div>
			{{/each}}
			<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
			<div class="slider-min"></div>
			<div class="slider-max"></div>
			<div class="ui-slider-handle ui-state-default ui-corner-all handle-min"></div>
			<div class="ui-slider-handle ui-state-default ui-corner-all handle-max"></div>
		</div>
	</div>
</div>
