html {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	height: 100%;
}

@import "flat-ui";

.app {
	.square(100%);
	position: absolute;
	margin: 0;
	padding: 0;

	.map {
		.square(100%);
		background: #ddd;
		display: block;
	}

	.timeline {
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;

		.inner {
			margin: 0 40px 40px;
		}
	}
}
